@media (min-width: 641px) and (max-width: 1024px) {
    .gallery {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
        grid-template-columns: 1fr 1fr;
    }
}