/* normalize.css */
html { line-height: 1.15; }
body { margin: 0; }
main { display: block; }
h1 { font-size: 2em; margin: 0.67em 0; }
img { border-style: none; max-width: 100%; }
ul { padding: 0; margin: 0; list-style: none; }
a { background-color: transparent; }
button { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; overflow: visible; }